html {
	height: 100%;
}

body {
	background: url("../images/whitetile.jpg");
	background-size: cover;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #000000;
	padding: 10px;
}

* {
	box-sizing: border-box;
}

/* General Settings */

.container {
  background-color: #000000;
  color: #ffffff;	
}

.panel-default {
  background-color: #000000;
  color: #ffffff;		
  border: 0px;
  margin: 0;
}

.panel-default > .panel-heading,
.panel-default > .panel-footer {
  background-color: #000000;
  color: #ffffff;
  border: 0px;
}

.panelBorder {
	border: 5px solid #ffff00;
}

tbody {
	color: #ffff00;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background: #ffffff;
    color: #000000;
}

/* Ads Styling */

#ads {
	padding: 10px;
}

/* Current Time Schedule */

#currentTime {
	color: #ffff00;
}
